
@{
    ViewBag.Title = Model.Name;
    IAuthentication auth = DependencyResolver.Current.GetService<IAuthentication>();
    User usr = auth.User;
}
@using ChudoPechkaLib.Models;
@using ChudoPechkaLib;
@model ChudoPechkaLib.Models.Group
@section ScriptAndStyle{
    <style>
        .line {
            width: 30%;
        }

        #login {
            width: 30%;
            margin-right: 1%;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function send()
        {
            var login = $("#login").val();
            $.ajax({
                method: "Get",
                url: "@Url.Action("SendAnnounced", "Announced")?From=@Model.Id&To=" + login + "&Type=0",  
        });
        }
    </script>
}
<div>
    <div style="text-align:center;">
        <div>
            <span style="font-size:16pt; margin: 10px;">@Model.Name</span>
        </div>
        @if (auth.IsAuthentication && (Model.Users.Contains(usr) || Model.Authors.FirstOrDefault((a) => a.User.Equals(usr)) != null))
        {
        <div style="margin-top:10px;">
            <input type="text" class="text-box" id="login" /><button class="button" onclick="send()">Отправить</button>
        </div>
        }
        <div>
            <hr size="5" color="black" class="line" style="margin-top:15px;" />
            <span style="font-family:'Segoe Print'; font-size:16pt">Автор</span>
            <hr size="5" color="black" class="line" />
        </div>
    </div>
    <div>
        @foreach (Author item in Model.Authors)
        {
            Html.RenderAction("GetUser", "Account", new { login = item.User.Login });
        }
    </div>
</div>
@if (Model.Users.Count > 0)
{
    <div>
        <div style="text-align:center;">
            <hr size="5" color="black" class="line" />
            <span style="font-family:'Segoe Print'; font-size:16pt">Участники</span>
            <hr size="5" color="black" class="line" />
        </div>
        <div>
            @foreach (User item in Model.Users)
            {
                Html.RenderAction("GetUser", "Account", new { login = item.Login });
            }
        </div>
    </div>
}
