
@{
    ViewBag.Title = "Index";
}
@using ChudoPechkaLib.Models;
@model ChudoPechkaLib.Models.Group
@section ScriptAndStyle{
    <style>
        .line {
            width: 30%;
        }
    </style>
}
<div>
    <div style="text-align:center;">
        <span style="font-size:16pt">@Model.Name</span>
        <hr size="5" color="black" class="line" />
        <span style="font-family:'Segoe Print'; font-size:16pt">Автор</span>
        <hr size="5" color="black" class="line" />
    </div>
    <div>
        @{Html.RenderAction("GetUser", "Account", new { login = Model.Author.User.Login });}
    </div>
</div>
<div>
    <div style="text-align:center;">
        <hr size="5" color="black" class="line" />
        <span style="font-family:'Segoe Print'; font-size:16pt">Участники</span>
        <hr size="5" color="black" class="line" />
    </div>
    <div>
        @foreach (User item in Model.Users)
        {
            Html.RenderAction("GetUser", "Account", new { login = item.Login });
        }
    </div>
</div>
