<!DOCTYPE html>

<html>
<head>
    <style>
        body{
            margin:0px;
        }

        #cap {
            width:100%;
            background-color:#00050A;
            font-family:Arial;
            color:white;
            padding: 4%;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="cap">Чудо-Печка</div>
        @RenderBody()
    </div>
</body>
</html>
