
@{
    ViewBag.Title = "Оповещания";

}

@using ChudoPechkaLib.Models
@using ChudoPechkaLib;

@section ScriptAndStyle{
    <style>
        .announced {
            padding: 5px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        #load {
            width: 100px;
            height: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: auto;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(window).load(function () {
            $("#announceds").html('<div id="load" style=""><img src="@Url.Content("~/img/Standart/Load.gif")" style="width:100%;height:auto" /></div>');
            $.ajax({
                method: "Get",
                url: "@Url.Action("GetAnnounced", "Announced")",
                contentType: "html",
                success: function (ResHtml) {
                    $("#announceds").html(ResHtml);
                }
            });
        });

    </script>
    <script>
        function AcceptInvationToGroup(id) {
            var data = { 'Group_id': id, '__RequestVerificationToken': $('[name=__RequestVerificationToken]').val() };
            $.post("@Url.Action("AddUser", "Group")", data);
        }
    </script>
}
@Html.AntiForgeryToken()
<div id="announceds">

</div>

