
@{
    ViewBag.Title = "Index";
    IDBManager auth = DependencyResolver.Current.GetService<IDBManager>();
}
@using ChudoPechkaLib
@section ScriptAndStyle{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <style>
        .menuItem{
            width: 800px;
            height: auto;
            margin-bottom:40px;
            min-height: 460px;
        }
        .text{
            width:190px;
            line-height:20px;
            padding:5px;
            text-align:center;
            font-size:17px;
        }
        .foodImg, .imgConteiner {
            width:600px;
        }
        .line{
            margin:auto;
        }
        .head{
            text-align:center;
            margin-left:300px;
            margin-right:300px;
        }
        .imgConteiner{
            float: right;
        }
        .dayName{
            font-family: 'Segoe Print';
            font-size: 14pt;
        }
    </style>
    <script>
        $(window).load(function () {
            $(".imgConteiner>img").css("width", "600px")
            SetButton();
        })
    </script>
    @if(auth.IsAuthentication)
    {
        <script>
            function SetButton ()  {
                $(".text").append("<div style=\"margin-top: 15px\"><button class=\"button\" onclick=\"location.href = '@Url.Action("ToOrder", "Order")'\"> Заказать</button></div>");
            }
        </script>
    }
}
@{ Html.RenderAction("GetMenu");}